@model  WebApplication1.ViewModel.CoursesViewModel
@{
    ViewBag.Title = "Attending";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Attending</h2>

<div class="row">
    <ul>
        @foreach (var course in Model.UpcomingCourses)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @course.Datetime.ToString("MM")
                    </div>
                    <div class="date">
                        @course.Datetime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerID"> Follow </button>
                        }
                    </span>
                    <span class="category">
                        @course.Category.name
                        @if (Model.ShowAction)
                        {
                            <button data-courser-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going? </button>
                        }
                    </span>

                </div>

            </li>

        }
    </ul>
    @section scripts{
        <script>
            $(document).ready(function () {
                $("js-toggle-attendance").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        })
                        .fail(function () {
                            alert("Something fail!");
                        });
                });
                $("js-toggle-follow").click(function (e) {
                    var button = $(e.target);
                    $.post("/api/followings", {FolloweeId: button.attr("data-course-id") })
                        .done(function () {

                            button.text("Following");
                        })
                        .fail(function () {
                            alert("Something fail!");
                        });
                });
            });

        </script>
    }
</div>

